<template>
  <div class="home">
    <div class="videos">
      <VideoPlayer @click="onClick" v-for="(video, i) in videos" :key="i" :src="video.src" :class="video.classes"/>
    </div>
  </div>
</template>

<script>
import VideoPlayer from '../components/VideoPlayer'
export default {
  name: 'Home',
  components: { VideoPlayer },
  data () {
    return {
      videos: [
        { src: 'http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4', classes: { main: true } },
        { src: 'http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4', classes: { thumb: true, thumb1: true } },
        { src: 'http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4', classes: { thumb: true, thumb2: true } },
        { src: 'http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4', classes: { thumb: true, thumb3: true } },
        { src: 'http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4', classes: { thumb: true, thumb4: true } }
      ]
    }
  },
  methods: {
    onClick (e) {
      const mainElement = this.$el.querySelector('.main')
      let thumbElement = e.target

      let isThumb = thumbElement.classList.contains('thumb')

      if (!isThumb) {
        thumbElement = e.target.parentElement
        isThumb = thumbElement.classList.contains('thumb')
      }

      if (isThumb) {
        const thumbIndexClass = thumbElement.classList.value.match(/thumb\d/g)[0] // thumb1 or thumb2...
        thumbElement.classList.remove('thumb', thumbIndexClass)
        thumbElement.classList.add('main')
        mainElement.classList.remove('main')
        mainElement.classList.add('thumb', thumbIndexClass)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .main {
    grid-area: main;
  }
  .thumb1 {
    grid-area: t1;
  }
  .thumb2 {
    grid-area: t2;
  }
  .thumb3 {
    grid-area: t3;
  }
  .thumb4 {
    grid-area: t4;
  }

  .videos {
    display: grid;
    grid-template-columns: 220px auto;
    grid-template-rows: auto;
    grid-template-areas:
    't1 main'
    't2 main'
    't3 main'
    't4 main';
    grid-gap: 5px;
    background-color: #2196F3;
    padding: 10px;
  }
</style>
