<template>
  <div @click.stop="onClick" class="video">
    <video autoplay><source :src="src"></video>
  </div>
</template>

<script>
export default {
  name: 'VideoPlayer',
  props: ['src'],
  methods: {
    onClick (e) {
      this.$emit('click', e)
    }
  }
}
</script>

<style lang="scss" scoped>
  .video {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;

    video {
      max-width: 100%;
    }
  }
</style>
