<template>
  <div class="about">
    About oldal

    <div id="nav">
      <router-link to="/about/page-one">Page 1</router-link> |
      <router-link to="/about/page-two">Page 2</router-link> |
    </div>
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'About',
  components: { }
}
</script>
